@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

    * {
        margin: 0;
        padding: 0;
        font-family: 'Outfit', sans-serif;
    }

    body {
        background-image: url('img/ahadis.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 30vh;
    }

    /*nav */
    nav {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin: auto;
        padding: 1.4rem 1rem;
        background-color: #000000b5;
        backdrop-filter: blur(10px);
        border-radius: 3rem;
        margin-top: 1rem;
        /* box-shadow: 0px 0px 3px rgb(254 116 62); */
    }

    .logo {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .logo a {
        color: #fff;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding: 0;
        background-color: transparent;
        overflow: hidden;
        margin-bottom: 0;
    }

    li {
        padding: 0rem 1.1rem;
        float: left;
    }

    li a {
        color: #e96d3f;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: .7px;
    }

    ul li a {
        position: relative;
    }

    ul li a::before {
        content: "";
        position: absolute;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background-color: #fff;
    }

    /* Center Animation */
    ul li a::before {
        transform: scale(0, 1);
        transition: transform .3s ease;
    }

    ul li a:hover::before {
        transform: scale(1, 1);
    }
    li a.active,
    li a:hover {
        color: #fff;
        transition: all .3s ease-in-out
    }

    #click {
        display: none;
    }

    .menu {
        display: none;
    }

    @media only screen and (max-width:1024px) {
        nav {
            max-width: 98%;
        }
    }

    @media only screen and (max-width:768px) {
        html {
            font-size: 80%;
        }

        nav {
            max-width: 100%;
        }
    }

    @media only screen and (max-width:480px) {
        html {
            font-size: 85%;
        }

        header {
            height: 100vh;
        }

        li {
            padding: 1rem 1.1rem;
        }

        .menu {
            display: block;
            font-size: 2rem;
            font-weight: bold;
            color: #fff;
        }

        ul {
            width: 100%;
            height: 100vh;
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: center;
            top: 4rem;
            left: -100%;
            background-color: #000000b5;
            backdrop-filter: blur(10px);
        }

        #click:checked~ul {
            left: 0%;
            transition: all 0.3s ease;
        }

    }

section{
    min-height: 100vh;
    padding:1rem 7%;
    padding-top:6rem;
}


.btn{
    padding:.7rem 3rem;
    font-size: 2rem;
    color:#fff;
    background:var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background:#fff9;
    height:150%;
    width:20%;
    transform: rotate(25deg);
    z-index: -1;

}

.btn:hover::before{
    transition: .3s linear;
    left: 120%;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background:url(img/r2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

.home h1 {
    font-size: 6rem;
    color: #f5c800;
    text-shadow: 3px 4px 7px black;
    /* يضيف ظل للنص */
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 10px;/* يغير نوع الخط إلى Reem Kufi */
}


.home p{
    font-size: 1.9rem;
    color:#999;
    padding:1rem 0;
    width:70rem;
}

.home .shape{
    position: absolute;
    bottom:-3rem; left: 0;
    height:15rem;
    width:100%;
    background:url(img/shape.png);
    block-size: 100rem 15rem;
    filter: drop-shadow(0 -.1rem .1rem rgba(0,0,0,.2));
    animation: animate 10s linear infinite;
}


.azkar-container {
    text-align: center;
}

.azkar-item {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.azkar-text {
    font-size: 18px;
    margin-right: 10px;
}

.counter {
    font-size: 24px;
    margin-right: 10px;
}

.increment-btn {
    font-size: 18px;
    background-image:linear-gradient(90deg, #8585ad ,#000066 );
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.increment-btn:hover {
    background-color: #45a049;
}



.footer{
    background-image:linear-gradient(90deg, #8585ad -45%,#000066 100%);
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:1.5rem;
    text-align: center;
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:.7rem 0;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:#f39c12;
}

.footer .box-container .box a{
    font-size: 1.8rem;
    display: block;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .credit{
    padding:2rem 1rem;
    font-size: 2rem;
    color:#fff;
    background:#a4605b;
    text-align: center;
    font-weight: normal;
    padding-bottom: 9rem;
}

.footer .credit a{
    color:#f39c12
}
